:root {
  --primary: #bb86fc;
  --variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #03dac6;
  --background: #121212;
  --surface: #121212;
  --error: #cf6679;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --on-error: #000000;
  --dp00: #121212;
  --dp01: #1e1e1e;
  --dp02: #232323;
  --dp03: #252525;
  --dp04: #272727;
  --dp06: #2c2c2c;
  --dp08: #2e2e2e;
  --dp12: #333333;
  --dp16: #363636;
  --dp24: #383838;
  --emph-high: #e0e0e0;
  --emph-medium: #a0a0a0;
  --disabled: #6c6c6c;
}
@media (prefers-color-scheme: light) {
  :root {
    --primary: #6200ee;
    --variant: #3700b3;
    --secondary: #03dac6;
    --secondary-variant: #018786;
    --background: #ffffff;
    --surface: #ffffff;
    --error: #b00020;
    --on-primary: #ffffff;
    --on-secondary: #000000;
    --on-background: #000000;
    --on-surface: #000000;
    --on-error: #ffffff;
    --dp00: #ffffff;
    --dp01: #f2f2f2;
    --dp02: #ededed;
    --dp03: #ebebeb;
    --dp04: #e8e8e8;
    --dp06: #e3e3e3;
    --dp08: #e0e0e0;
    --dp12: #dbdbdb;
    --dp16: #d9d9d9;
    --dp24: #d6d6d6;
    --emph-high: #212121;
    --emph-medium: #666666;
    --disabled: #9e9e9e;
  }
}
body {
  color: var(--emph-high);
  background-color: var(--background);
}
